/*=======================================================
   own custom css for the size of the content of the page
  =======================================================*/
#panel
{
	min-height : 475px;
	overflow: hidden;
	overflow-y: scroll;
}
.panel
{
	height : 475px;
}
#tab-content
{
	height : 475px;
}
::-webkit-scrollbar{
	width:0px;
	background: transparent;
}
::-webkit-scrollbar-thumb{
	background: #ff0000;
}